<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Apt for notes</title>
    <script> var INITIAL_STATE = <%- JSON.stringify(state) %></script>
    <link rel="stylesheet" href="/src/style.bundle.css" media="screen" title="no title">
  </head>
  <body>
    <div id="root"></div>
    <script src="/src/app.bundle.js" charset="utf-8"></script>
  </body>
</html>
