.noteView {
  float: left;
  width: 50%;
  height: 100%;
  border-left: 1px solid #ccc;
  h2 {
    color: lighten(#1E1E1E, 10%);
  }
  textarea {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    min-height: 50vh;
    background: white;
    border: none;
    box-shadow: none;
    margin-left: 5%;
  }
}
